@model IEnumerable<AceTC.Models.Student>

@{ Layout = null;}

@{
    ViewBag.Title = "ViewChildren";

    if (Session["parents_ic"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pusat Tuisyen Madani</title>
    <meta name="description" content="Dashboard | Nura Admin">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your website">


    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/ACElogo-triangle.ico">

    <!-- Bootstrap CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome CSS -->
    <link href="~/Content/assets/font-awesome/css/all.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN CSS for this page -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/chart.js/Chart.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/datatables/datatables.min.css" />
    <!-- END CSS for this page -->
</head>

<body class="adminbody">

    <div id="main">

        <!-- top bar navigation -->
        <div class="headerbar">

            <!-- LOGO -->
            <div class="headerbar-left">
                <img alt="Logo" style="width:80px;height:60px;" src="~/Content/assets/images/ACElogo-triangle.png" />
                
            </div>

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-sm">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5>
                                    <small>Settings</small>
                                </h5>
                            </div>

                            <!-- item-->
                            <a href="#" class="dropdown-item notify-item">
                                <p class="notify-details ml-0">
                                    <i class="fas fa-cog"></i>
                                    <b>Settings 1</b>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="#" class="dropdown-item notify-item">
                                <p class="notify-details ml-0">
                                    <i class="fas fa-cog"></i>
                                    <b>Settings 2</b>
                                </p>
                            </a>

                            <!-- item-->
                            <a href="#" class="dropdown-item notify-item">
                                <p class="notify-details ml-0">
                                    <i class="fas fa-cog"></i>
                                    <b>Settings 3</b>
                                </p>
                            </a>

                        </div>

                    </li>


                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" aria-haspopup="false" aria-expanded="false">
                            <img src="~/Content/assets/images/download.png" alt="Profile image" class="avatar-rounded">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow">
                                    <small>Hi, @Session["parents_ic"].ToString()</small>
                                </h5>
                            </div>

                            <!-- item-->
                            <a href="@Url.Action("Logout","Login")" class="dropdown-item notify-item">
                                <i class="fas fa-power-off"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- End Navigation -->
        <!-- Left Sidebar -->
        <div class="left main-sidebar">

            <div class="sidebar-inner leftscroll">

                <div id="sidebar-menu">

                    <ul>

                        <li class="submenu">
                            <a class="active" href="index.html">
                                <i class="fas fa-bars"></i>
                                <span> Parent Account </span>
                            </a>
                        </li>

                        <li class="menu-title">Home</li>
                        <li class="submenu">
                            <a href="/Admin/testing">
                                <i class="fas fa-exclamation-circle"></i>
                                <span> Notification</span>
                            </a>
                        </li>


                        <li class="menu-title">Student</li>
                        <li class="submenu">
                            <a id="tables" href="#">
                                <i class="fas fa-users"></i>
                                <span> Student List </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/Parent/ViewChildren">View Children List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a id="tables" href="#">
                                <i class="fas fa-folder"></i>
                                <span> Subject List </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/Parent/ViewSubject">View Subject Offered</a>
                                </li>
                            </ul>
                        </li>


                        <li class="menu-title">Payment</li>
                        <li class="submenu">
                            <a href="/Admin/testing">
                                <i class="fas fa-credit-card"></i>
                                <span> Make Payment</span>
                            </a>
                        </li>

                        <li class="submenu">
                            <a href="/Admin/testing">
                                <i class="fas fa-history"></i>
                                <span> Payment History</span>
                            </a>
                        </li>


                        <li class="menu-title">User Manual</li>
                        <li class="submenu">
                            <a href="/Admin/testing">
                                <i class="fas fa-info-circle"></i>
                                <span> Parent Manual</span>
                            </a>
                        </li>


                    </ul>

                    <div class="clearfix"></div>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>
        <!-- End Sidebar -->

        <div class="content-page">

            <!-- Start content -->
            <div class="content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-holder">
                                <h1 class="main-title float-left">Children Lists</h1>
                                <ol class="breadcrumb float-right">
                                    <li href="/Parent/ParentsDashboard" class="breadcrumb-item">Home</li>
                                    <li href="/Parent/ViewChildren" class="breadcrumb-item active">Children Lists</li>
                                </ol>
                                <div class="clearfix"></div>
                            </div>


                        </div>
                    </div>
                    <!-- end row -->
                    <!-- start student lists row -->
                    <div class="row">



                    </div>
                    <!-- end row -->
                    @*<label>IC : </label>@Model.student_ic
                        <label>Name : </label>@Model.student_name
                        <label>Package : </label>@Model.student_name-->*@

                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>
                                IC
                                @*@Html.DisplayNameFor(model => model.student_ic)*@
                            </th>
                            <th>
                                Name
                                @*@Html.DisplayNameFor(model => model.student_name)*@
                            </th>
                            <th>
                                Name (Chinese)
                                @*@Html.DisplayNameFor(model => model.student_cname)*@
                            </th>
                            <th>
                                Tuition Package
                                @*@Html.DisplayNameFor(model => model.student_package)*@
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.student_ic
                                    @*@Html.DisplayFor(modelItem => item.student_ic)*@
                                </td>
                                <td>
                                    @item.student_name
                                    @*@Html.DisplayFor(modelItem => item.student_name)*@
                                </td>
                                <td>
                                    @item.student_cname
                                    @*@Html.DisplayFor(modelItem => item.student_cname)*@
                                </td>
                                <td>
                                    @item.student_package
                                    @*@Html.DisplayFor(modelItem => item.student_package)*@
                                </td>
                                <td>
                                    @Html.ActionLink("View Details", "ViewChildrenDetails", new { id = item.student_ic })
                                </td>
                            </tr>
                        }
                    </table>


                    <div class="row">



                    </div>
                    <!-- end row-->

                </div>
                <!-- END container-fluid -->

            </div>
            <!-- END content -->

        </div>
        <!-- END content-page -->

        <footer class="footer">
        </footer>

        <script src="~/Content/assets/js/modernizr.min.js"></script>
        <script src="~/Content/assets/js/jquery.min.js"></script>
        <script src="~/Content/assets/js/moment.min.js"></script>

        <script src="~/Content/assets/js/popper.min.js"></script>
        <script src="~/Content/assets/js/bootstrap.min.js"></script>

        <script src="~/Content/assets/js/detect.js"></script>
        <script src="~/Content/assets/js/fastclick.js"></script>
        <script src="~/Content/assets/js/jquery.blockUI.js"></script>
        <script src="~/Content/assets/js/jquery.nicescroll.js"></script>

        <!-- App js -->
        <script src="~/Content/assets/js/admin.js"></script>

    </div>
    <!-- END main -->
    <!-- BEGIN Java Script for this page -->
    <script src="~/Content/assets/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/datatables.min.js"></script>

    <!-- Counter-Up-->
    <script src="~/Content/assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- dataTabled data -->
    <script src="~/Content/assets/data/data_datatables.js"></script>

    <!-- Charts data -->
    <script src="~/Content/assets/data/data_charts_dashboard.js"></script>
    <script>
        $(document).on('ready', function () {
            // data-tables
            $('#dataTable').DataTable({
                data: dataSet,
                columns: [{
                    title: "Name"
                }, {
                    title: "Position"
                }, {
                    title: "Office"
                }, {
                    title: "Extn."
                }, {
                    title: "Date"
                }, {
                    title: "Salary"
                }]
            });

            // counter-up
            $('.counter').counterUp({
                delay: 10,
                time: 600
            });
        });
    </script>
    <!-- END Java Script for this page -->

</body>

</html>


